#title{
    background-color: #222222;
    z-index: -1;
}

.container-fluid{
    padding: 3% 15%;
}

h1 {
    font-family: 'Vazirmatn', sans-serif; font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    text-align: center;
}

h2 {
    font-family: 'Vazirmatn', sans-serif; font-weight: medium;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align:center;
    color: white;
}

h3 {
    font-family: 'Vazirmatn', sans-serif; font-weight: normal;
    font-size: 1.25rem;
    color: white;
    line-height: 40px;
}

p {
    color: #8f8f8f;
    text-align: center;
}

/* Navigation Bar and Header */
.navbar {
    padding: 0 0 0 0rem;
}

.navbar-brand {
    font-family: 'Vazirmatn', sans-serif;
    font-size: 2rem;
}

.navbar-brand:hover {
    rotate: -180deg;
    transition: rotate 0.5s;
}

.navbar-item{
    padding: 0 25px;
}
.nav-link {
    font-family: 'Vazirmatn', sans-serif;
    font-size: 1.2rem;
    padding: 0 100;
}

.title-image {
    padding: 0% 15%;    
    text-align: center;
}

/* .sticker {
    z-index: 10;
    position: absolute;
    top:15px; 
    left:65px;  
    border:none;
} */

/* Works Section*/
#work{
    padding: 7% 15%;
    justify-content: center;
}

.work-card{
    text-align: center;
    rotate: -15deg;
    padding-bottom: 200px;
    /* box-shadow: 10px 10px 5px #000000;
      -moz-box-shadow: 10px 10px 5px #000000;
      -webkit-box-shadow: 10px 10px 5px #000000;
      -khtml-box-shadow: 10px 10px 5px #000000; */
}

.work-card:hover{
    rotate:  0deg;
    transition: 0.2s ease-in-out;
}

.img-area{
    position: relative;
    margin: 10% auto 0;
}

.img-area img{
    position: absolute;
    left: 0;
    padding-right: 50px;
}

.img-area img.img-front:hover{
    opacity:0;
    transition: 0.2s;
}


/* Footer Section */
#footer {
    padding:  7% 15%;
    text-align: center;
}

.social-icon {
    margin: 150px 0px 0px 10px;
}

/* Media Query Section */
@media (max-width: 1028px) {
    #title {
        font-size: 60px;
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
} 

